#input {
    margin-left: 20px;
    padding-left: 20px;
    border-radius: 10px;
}
.rojo {
    color: red;
}
.azul {
    color: blue;
}
.verde {
    color: rgb(130, 198, 27);
}
body {
    height: 100vh;
    margin: auto;
}
#contenedor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
